__pycache__/
*.pyc
*.egg-info/
build/
dist/
.venv/
.env
.DS_Store
data/pipeline/
data/raw/
data/config/
data/companies.csv
temp/linkedin/
temp/

# docs and doc folders should not be commited.
docs/
doc/